<header>
    <div class="logo">
        <a href="/"><img src="logo.png" align="left" height="50px"></a>
    </div>

    <div class="header">
        <nav>
            <ul class="nav">
                <li class="nav_item">
                    <a href="index" class="nav_link">Главная</a>
                </li>

                <li class="nav_item">
                    <a href="gallery" class="nav_link">Галерея</a>
                </li>

                <li class="nav_item">
                    <a href="menu" class="nav_link">Меню</a>
                    <ul>
                        <li><a href="cold">Холодные блюда</a></li>
                        <li><a href="hot">Горячие блюда</a></li>
                        <li><a href="desserts">Десерты</a></li>
                        <li><a href="bar">Бар</a></li>
                    </ul>
                </li>

                <li class="nav_item">
                    <a href="contact" class="nav_link">Контакты</a>
                </li>

                <li class="nav_item">
                    <a href="bron" class="nav_link">Бронирование</a>
                </li>

            </ul>
        </nav>
    </div>
</header>