<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Холодные блюда</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!--Header-->

    <!--Header-->
<!--
    <header>
        <div class="logo">
            <a href="Главная.hbs"><img src="/images/logo.png" align="left" height="50px"></a>
        </div>

        <div class="header">
            <nav>
                <ul class="nav">
                    <li class="nav_item">
                        <a href="Главная.hbs" class="nav_link">Главная</a>
                    </li>

                    <li class="nav_item">
                        <a href="Галерея.hbs" class="nav_link">Галерея</a>
                    </li>

                    <li class="nav_item">
                        <a href="Меню.hbs" class="nav_link">Меню</a>
                        <ul>
                            <li><a href="./Холодные блюда.hbs">Холодные блюда</a></li>
                            <li><a href="./Горячие блюда.hbs">Горячие блюда</a></li>
                            <li><a href="./Десерты.hbs">Десерты</a></li>
                            <li><a href="./Бар.hbs">Бар</a></li>
                        </ul>
                    </li>

                    <li class="nav_item">
                        <a href="Контакты.hbs" class="nav_link">Контакты</a>
                    </li>

                    <li class="nav_item">
                        <a href="Бронирование.hbs" class="nav_link">Бронирование</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
-->
{{> menu}}

    <!--Style-->

    <style>
        body{
            background: #020202;
        }
    </style>

   <!--Content-->
   
</body>