<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

{{> menu}}

    

    <style>
        body{
            background: rgb(116, 115, 115);
        }
    </style>
    </body>

    <footer>
        <div class="txt5">
            <h1>г. Владимир  ул. Большая Московская  д.1</h1>
        </div>
    </footer>
    </html>