<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

{{> menu}}

    

    <style>
        body{
            background: radial-gradient(grey, rgb(21, 20, 20));
        }
    </style>

    <form method="POST">
        <label>Фамилия</label>
        <input name="last_name" /><br><br>

        <label>Имя</label>
        <input name="name" /><br><br>

        <label>Отчество</label>
        <input name="middle_name" /><br><br>

        <label>Дата рождения</label>
        <input name="birthday"/><br><br>

        <label>Номер телефона</label>
        <input name="phone_number" /><br><br>

        <label>Email</label>
        <input name="email"/><br><br>

        <label>Номер стола</label>
        <input name="table_number"/><br><br>
        <input type="submit" value="Отправить"/>
     </form>

    </body>


    </html>