<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Header-->

    <!--Header-->
{{> menu}}

    <!--Style-->

    <style>
        body {
            background: #020202;
        }
    </style>

    <!--Content-->
    <h2 style="color: #FFF; text-align: center;">Галерея</h2>
    <div class="content-center">
        <div class="g">
            <img src="MyCollages (1).png" style="align-content: center;">
        </div>
    
        <div class="g">
            <img src="MyCollages (2).png" style="align-content: center;">
        </div>
    </div>
    
</body>

<footer>
    <div class="txt5">
        <h1>г. Владимир ул. Большая Московская д.1</h1>
    </div>
</footer>

</html>