<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!--Header-->

    <!--Header-->

{{> menu}}

    <!--Style-->

    <style>
        body{
            background: #020202;
        }
    </style>

    <!--Style-->

    <style>
        body{
            background: #030303;
        }
    </style>

    <!--Content-->
    <div class="txt5">
        <h2>Холодные закуски</h2>
        <img src="Group 4.png"  align="center">
       </div>
    <div class="txt5">
        <h2>Салаты</h2>
        <img src="Салаты.png"  align="center">
    </div>
    
</body>

<footer>
    <div class="txt5">
        <h1>г. Владимир  ул. Большая Московская  д.1</h1>
    </div>
</footer>
</html>
